$background-color: #DBD4CC;
$nav-background-color: #000000;

$nav-text-color: #DBD4CC;
$text-color: #000000;
$shadow-grey: rgba(143, 133, 133, 0.58);
$editor-background: #B38369;
$editor-code: #AA7051;
$details-color: #AA7051;