@use 'breakpoints' as break;
:root{
    --fs-hero: 40px;
    --fs-header: 30px;
    --fs-elements: 25px;
    --fs-body: 16px;

    
}
/* html {
    font-size: calc(15px + 0.390625vw);
} */
h1, h2, h3 {
    
    margin-top: 0;
}

p {
    margin-top: 0;
}

a, a:visited, 
a:active {
    text-decoration: none;
}

ul,li
{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}


/*------------------------------------*\
  #HERO-BREAKPOINTS
\*------------------------------------*/

    .titlePresentation{
        font-size: clamp(19px, 8vmin, 50px);
    }
    .contentPresentation{
        font-size: clamp(14px, (1rem + 0.5vh), 25px);
    }

   @include break.breakpoint (large){
    .hero__img{
        width: 40%;
    }
    .hero__text{
        width: 60%;
    }
   }

   @include break.breakpoint(small){

   }


/* @include break.breakpoint (small){
    .titlePresentation{
        font-size: clamp(1.125rem, (1rem + 1vw), 1.25rem);
    }

    .contentPresentation{
        font-size: clamp(0.875rem, (1rem + 1vw), 1rem);
    }
} */

/*------------------------------------*\
  #SKILLS-BREAKPOINTS
\*------------------------------------*/

/*------------------------------------*\
  #PROJECTS-BREAKPOINTS
\*------------------------------------*/

/*------------------------------------*\
  #CONTACT-BREAKPOINTS
\*------------------------------------*/