:root{
    --fs-hero: 40px;
    --fs-header: 30px;
    --fs-elements: 25px;
    --fs-body: 16px;
}
h1, h2, h3 {
    
    margin-top: 0;
}

p {
    margin-top: 0;
}

a, a:visited, 
a:active {
    text-decoration: none;
}

ul,li
{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.titlePresentation{
    font-size: clamp(2.25rem, (1rem + 2vw), 3rem);
}
.contentPresentation{
    font-size: clamp(1rem, (1rem + 1vw), 1.5625rem);
}