@use '../util/colors' as color;


#site-header {
  position: sticky; /* Make it stick/fixed */
  /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

#site-header a {
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.site-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: color.$nav-background-color;
}
.site-logo{
  width: 106px;
  height: 70px;
  padding: 0.5rem;
}

.site-nav{
    ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
}
  
#hamburger-icon {
    margin: auto 0.5rem;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 4px;
    background-color: color.$background-color;
    border-radius: 3px;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: fixed;
    top: 86px;
    right: 0;
    height: calc(100vh - 86px);
    width: 55%;
    background-color: rgba(0, 0, 0, 0.662);
    z-index: 2;
    
  }
  
  .mobile-menu li {
    margin: 0 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px 20px;
    
  }
  
  @media only screen and (max-width: 750px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
    /* CHANGE LOCATION OF BREAKPOINT TO BREAKPOINTS*/
    .sidebar{
        display: none;
    }

  }
 