header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.nav{
    display: flex;
    flex-wrap: wrap;
}
.nav-list{
    display: flex;
    align-items: center;
}

.nav-list > * {
    padding: 1rem;
}

.logo{
    font-size: 2rem;
    padding: 0.5rem;
}