@use '../globals/' as break;

.about{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
    justify-content:flex-start;
    width: 100%;
    /* Z-index mobile menu conflicts with background color of section */
    //background-color: rgb(139, 214, 139);

  }
  
.hero{
    display: flex;
    align-items: center;
}
 
  .contact{
    background-color: pink;
  }
  .hero__img{
    text-align: center;
  }
 
  .info-block{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100px;
  }
  .info-block__text{
    
    margin-bottom: 30px;
  
  }


  
/*------------------------------------*\
  #HERO-BREAKPOINTS
\*------------------------------------*/

  @include break.breakpoint(large){
    .hero{
      flex-flow: column wrap;
    }
    
  }

  @include break.breakpoint(medium){
    .info-block__text{
      display: none;
    }
  }


  

