@use '../globals/' as break;

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 90vh;
    /* Z-index mobile menu conflicts with background color of section */
    //background-color: rgb(139, 214, 139);

  }
  
.hero{
    display: flex;
    align-items: center;

}
 
  .projects{
    background-color: green;
  }
  .contact{
    background-color: pink;
  }
  .hero__img{
    text-align: center;
  }
 
  .info-block{
    display: block;
    text-align: center;
    margin: 0 auto;

  }
  .info-block--image{
    display: block;
  }

  .card-group{
   display: flex;
   flex-wrap: wrap;
   gap: 1rem;
  
  }

  .card {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
    min-width: 89px;
    min-height: 89px;
  }

  
/*------------------------------------*\
  #HERO-BREAKPOINTS
\*------------------------------------*/

  @include break.breakpoint(medium){
    .hero{
      flex-flow: column wrap;
    }
    
  }

  @include break.breakpoint(xsmall){
    .info-block__text{
      display: none;
    }
  }


  

