.projects{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	width: 100%;
}
.mycards{
	width: 100%;
	height: auto;
	text-align: center;
	
}

.mycards ul{
	height: 300px;
}