@use '../globals/' as g;

.flex{
  display: flex;
  gap: 1rem;
  align-items: center;
  
}

.flex{
/*------------------------------------*\
  #POSITIONING
\*------------------------------------*/
  &--start {
    justify-content: flex-start;
  }
  &--center {
    justify-content: center;
  }
  &--end {
    justify-content: flex-end;
  }
  &--space-between{
    justify-content: space-between;
  }

  
  &--top {
    align-items: flex-start;
  }
  &--middle {
    align-items: center;
  }
  &--bottom {
    align-items: flex-end;
  }
}

/*------------------------------------*\
  #HEADER-BREAKPOINTS
\*------------------------------------*/

/*------------------------------------*\
  #SKILLS-BREAKPOINTS
\*------------------------------------*/

/*------------------------------------*\
  #PROJECTS-BREAKPOINTS
\*------------------------------------*/

/*------------------------------------*\
  #CONTACT-BREAKPOINTS
\*------------------------------------*/