@use '../globals/' as g;

.flex{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}





.hero, .skills, .projects, .contact{
    max-height: 100%;
    height: 100vh;
    padding: 0 70px;
}
.skills{
    background-color: blueviolet;
}   
.projects{
    background-color: green;
}
.contact{
    background-color: pink;
}



/* .hero{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    &__image{
        width: auto;
        height: auto;
    }

} */

/*------------------------------------*\
  #HEADER-BREAKPOINTS
\*------------------------------------*/




/*------------------------------------*\
  #HERO-BREAKPOINTS
\*------------------------------------*/

@include g.breakpoint(small){
    .hero{
        background-color: blue;

    }

}

/*------------------------------------*\
  #SKILLS-BREAKPOINTS
\*------------------------------------*/

/*------------------------------------*\
  #PROJECTS-BREAKPOINTS
\*------------------------------------*/

/*------------------------------------*\
  #CONTACT-BREAKPOINTS
\*------------------------------------*/