.grid{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;
    gap:40px;

    //Offset display to 1 co
    // @media (min-width:900px) {
    //     grid-template-columns: 2fr 1fr;
    // }
    &__main, &__hero, &__skills, &__projects, &__contact{
        height: 100vh;
        padding: 0 70px;
    }

    &__hero{
        background-color: violet;
    }
    &__skills{
        background-color: blueviolet;
    }   
    &__projects{
        background-color: green;
    }
    &__contact{
        background-color: pink;
    }

    
}
// .grid {
//   @mixin small-layout($breakpoint) {
  
//   }
//   @mixin big-layout($breakpoint) {

//   }

// }